<!-- <form>
    <div class="form-group col-sm-6">
        <input  type="text" class="form-control" name="monto" id="monto" placeholder="monto" autofocus required>
    </div>
</form> -->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Monto</mat-label>
    <input matInput placeholder="Monto"/>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Moneda Origen</mat-label>
    <input matInput placeholder="Moneda Origen"/>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Moneda Destino</mat-label>
    <input matInput placeholder="Moneda Destino"/>
  </mat-form-field>
  <button mat-button color="primary">cambiar moneda</button>
</form>